html, body {
  height: 100%;
  width: 100%;
  background-color: #FFD394;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

#root {
  text-align: center;
  padding-top: 5%;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 42px;
  margin: 0;
  color: #4d2800;
  padding: 40px;
  font-weight: bold;
}

.timerDisplay {
  width: 300px;
  height: 300px;
  margin: 5px auto;
  font-size: 40px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  background-color:  #FF3A3A;
  box-shadow: 6px 9px 30px 0 rgba(0, 0, 0, 0.68), inset -2px -5px 15px 0 #584c46;
  cursor: pointer;
  color: #fff;
}
.timerDisplay p {
  padding: 80px;
  margin: 0;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
}

.settings-break, .settings-work {
  margin: 0 20px;
  border-radius: 80% 5%;
  background-color: #6b8e23;
  padding: 30px;
}

.settings-work {
  border-radius: 5% 80%;
}

.settings-break p, .settings-work p  {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}

.settings-btn {
  color: #fff;
  margin: 8px;
  font-size: 24px;
  background-color: #6b8e23;
  border-style: none;
  cursor: pointer;
}
.settings-btn:focus, .settings-btn:active {
  outline: none;
}

.reset-btn {
  background-color: #6b8e23;
  color: #fff;
  font-size: 16px;
  padding: 9px;
  border-radius: 10%;
  border-style: none;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  margin: 40px auto 20px auto;
}

.reset-btn:focus, .reset-btn:active {
  outline: none; 
}
